langchain 
langchain-community 
groq 
pinecone-client 
langchain_pinecone 
unstructured 
pillow_heif 
unstructured_inference 
sentence-transformers
flask
pytube
youtube_transcript_api>=1.2.4
python-dotenv
python-docx
pytesseract
pdf2image
Pillow